REACT_APP_BACK_URL=http://localhost:4000/
REACT_APP_IMAGES_URL=http://api.krack.springsapps.com/images/
REACT_APP_SCANDIT_KEY=ATSu9A43EUdWFabwTB0D+xhCeCR9Mf1mZkwmCBxKsJ8gd1iM9AQVvpQJ1v+TAnduzHieusNL44EQFXN5EX9mR1tsec8zZ0kavlMR86tRmj6mWztEVWjWMhNpotZKHnPclDOEiYw8zEzFJYU9G9Yws481KQ9+O7ZJvwaZSJZloy8Er18j4HCzZIPz4SUIDmRIik4uRjjsc01B+laDGFwGZDwUhHEoLTl/nbTsZ3vO5qdDsJrFzul9S1Sg2nLE8XS8+XVjHlffxMi2m3kRMdhtRwCP6GJR8cUFzbIAAUemeQ6kfRdY+w23G2V5tguOPXljUYNyFA3r1O++4mxoBpt1IMKE0Cd0ZKXbr0P3PorKGiIqcvgdfqLn2F53S2hV2q1zF7y4fdaMsJKc/0Ehp5zBFT8FbUp/ZEKv7zJEMlEMHPPVd1Dhl0NT1l5Dg2UlzjHrPzrh/c0Jdvfk3DgAdCdOGmRaQuwYUcg0QK0JRmwMG5Po6al6/I7gsk+vrQhQHn9ye81dG7qW2iYId67MEkqADBgMKqtEQTtHXjSdSFiE/A8NFNjooB+ZTmJMib/hi231CzjM8aDtCVWcK9kTgqQ9TycYo1a/8eGv3YAgEYtcMfCTsUANYqce47S7RhJ4dqkSC95Pg9FQWLxJEJh4ZZQbigluxrW8U6FRfIB5pCHHH4u+2hzuTD7HXqfQSsuZC6E/Kx282OoBCUFuI9KyM2ra9sgS9nYDIS8YtwCRhFMnWhiZR7ttY6QBJPzxclOnSTlOxVFvKux0GbzXMVdnDIlwS2v2eZolt/kvO9fBsu442CRCNtnZvNqRFEQtc20=
REACT_APP_MIN_COUNT_ANNOTATED_IMAGES_FOR_APPLICATION_CLASS = 10